name: Build and Push to Harbor

on:
  push:
    branches: [ "main" ]

env:
  REGISTRY: harbor.opsmonsters.in
  PROJECT: demo          # change if your Harbor project name is different
  IMAGE_NAME: myapp       # change if you want a different image name
  TAG: latest

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Log in to Harbor
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.HARBOR_USERNAME }}
          password: ${{ secrets.HARBOR_PASSWORD }}

      - name: Build Docker Image
        run: |
          docker build -t ${{ env.REGISTRY }}/${{ env.PROJECT }}/${{ env.IMAGE_NAME }}:${{ env.TAG }} .

      - name: Push Docker Image
        run: |
          docker push ${{ env.REGISTRY }}/${{ env.PROJECT }}/${{ env.IMAGE_NAME }}:${{ env.TAG }}
