name: Build and Push to Harbor

on:
  push:
    branches:
      - main

env:
  REGISTRY: harbor.opsmonsters.in
  PROJECT: demo
  IMAGE_NAME: myapp
  TAG: latest

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Harbor
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.HARBOR_USERNAME }}
          password: ${{ secrets.HARBOR_PASSWORD }}

      - name: Build Docker Image
        run: |
          docker build -t $REGISTRY/$PROJECT/$IMAGE_NAME:$TAG .

      - name: Push Docker Image
        run: |
          docker push $REGISTRY/$PROJECT/$IMAGE_NAME:$TAG
