name: Build and Push to Harbor

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Log in to Harbor
      uses: docker/login-action@v3
      with:
        registry: ${{ secrets.HARBOR_URL }}
        username: ${{ secrets.HARBOR_USERNAME }}
        password: ${{ secrets.HARBOR_PASSWORD }}

    - name: Build Docker Image
      run: |
        docker build -t ${{ secrets.HARBOR_URL }}/demo/myapp:latest .

    - name: Push Docker Image
      run: |
        docker push ${{ secrets.HARBOR_URL }}/demo/myapp:latest
