name: SonarQube Analysis

on:
  push:
    branches: [ develop, main ]

jobs:
  sonar:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Build
        run: ./gradlew bootJar -x test

      - name: Sonar Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: http://localhost:9002
        with:
          args: >
            -Dsonar.projectKey=myapp
            -Dsonar.sources=.
            -Dsonar.java.binaries=build
