name: Lint & SonarQube Analysis

on:
  push:
    branches: [ main, develop ]
  pull_request:

jobs:
  sonar:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v5
        env:
          SONAR_HOST_URL: http://localhost:9002
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
